.metadata/**
.recommenders/**
.settings/**
bin/**
temp/**
target/**
plugins/**
*.psd
*.dtd
*.sh
*.bat
*.lnk

.classpath
.project

# IntelliJ IDEA Project stuff
.idea/
out/
*.iws
*.iml
*___jb_*___
/target/
/bin/

# Internal testing

PrivateTests.java
src/test/resources/private